# ========== BUILD ==========
target/
.gradle/
build/

# Keep Maven wrapper JAR (used in build automation)
!.mvn/wrapper/maven-wrapper.jar

# ========== IDEs ==========
# IntelliJ
.idea/
*.iml
*.iws
out/
*.ipr

# VS Code
.vscode/

# ========== LOGS & TEMP ==========
*.log
*.swp
*.bak
*.tmp

# ========== TESTING & REPORTS ==========
allure-results/
allure-report/
test-output/
coverage/
jacoco*.exec

# ========== SYSTEM ==========
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# ========== ENV & GIT ==========
.env
*.local
*.orig