target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
out/

# MacOS
.DS_Store

# Logs
*.log

# Compiled class files
*.class

# Gradle
.gradle/
build/

# Test Reports
allure-results/
allure-report/
test-output/

# JetBrains
*.ipr

# Environment or config files
.env
*.local

# Coverage reports
coverage/
jacoco*.exec

# Temporary files
*.swp
*.bak
*.tmp

# System Files
Thumbs.db
ehthumbs.db
Desktop.ini

# Git
*.orig


### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
